<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{287,209}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,80},{287,209}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>cat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{287,209}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{287,209}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>cat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,209}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,80},{287,209}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catAnim.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb4e4f5b50507aedaf7150502b0de0ab$</string>
            <key>textureFileName</key>
            <string>catAnim.png</string>
        </dict>
    </dict>
</plist>
