<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>babyChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,105},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>babyChickOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,371},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,431},{58,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{58,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,433},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,371},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,309},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,309},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,309},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,371},{60,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ghostChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,208},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ghostChickOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>superChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>superChickOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chicks.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:575759b9f8ede05f50d616bfe0704d34$</string>
            <key>textureFileName</key>
            <string>chicks.png</string>
        </dict>
    </dict>
</plist>
