<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,216},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>1000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>15rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,109},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>15rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,109},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>20000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,472},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>20000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,472},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>3rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>3rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>5000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,109},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>5000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>50rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>50rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,109},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>ghostChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{105,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>kidsMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,369},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,262},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>noAdsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,262},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>shopMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,258}}</string>
                <key>sourceSize</key>
                <string>{192,258}</string>
            </dict>
            <key>superChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,369},{105,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>unlockBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>unlockBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopItems.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:933c57ffc6fe95e73cde71657b688aad$</string>
            <key>textureFileName</key>
            <string>shopItems.png</string>
        </dict>
    </dict>
</plist>
