<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>1000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,834},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>15rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,978},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>15rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,906},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>20000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,762},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>20000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,762},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>3rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1050},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>3rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,978},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>5000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,866},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>5000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,834},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>50rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,906},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>50rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1048},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>ghostChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,846},{224,200}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{224,200}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>ghostChickOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{224,200}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{224,200}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>kidsMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,554},{224,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>kidsModeOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,554},{224,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,414},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>noAdsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>shopMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,550}}</string>
                <key>sourceSize</key>
                <string>{410,550}</string>
            </dict>
            <key>shopMenuItemOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{408,550}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,550}}</string>
                <key>sourceSize</key>
                <string>{410,550}</string>
            </dict>
            <key>superChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,640},{224,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,204}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>superChickOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{224,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,204}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>unlockBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,640},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>unlockBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,414},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopItems-ipad.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:225b90ac071281b944df00a28fd14b1a$</string>
            <key>textureFileName</key>
            <string>shopItems-ipad.png</string>
        </dict>
    </dict>
</plist>
