<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>1000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>15rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>15rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>20000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,88},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>20000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>3rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,385},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>3rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,356},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>5000coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,260},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>5000coinsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,260},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>50rockets.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,327},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>50rocketsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,327},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>ghostChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{84,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>kidsMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,243},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,157},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>noAdsOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>shopMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,205}}</string>
                <key>sourceSize</key>
                <string>{153,205}</string>
            </dict>
            <key>superChick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>unlockBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,414},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>unlockBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,327},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopItems.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ebcf8ff0fabcb62a5853e9794ffb590$</string>
            <key>textureFileName</key>
            <string>shopItems.png</string>
        </dict>
    </dict>
</plist>
