<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,880},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>customizeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,772},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,106}</string>
            </dict>
            <key>customizeBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,772},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,106}</string>
            </dict>
            <key>getBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,772},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,106}</string>
            </dict>
            <key>getBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,772},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,106}</string>
            </dict>
            <key>mainMenuBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{274,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,274}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>playBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{274,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,274}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,772},{92,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>shopBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,772},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,106}</string>
            </dict>
            <key>shopBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenuTextures-ipad.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eae388414331e3bd5b1999c264a908d$</string>
            <key>textureFileName</key>
            <string>mainMenuTextures-ipad.png</string>
        </dict>
    </dict>
</plist>
